# jetbrains junk
.idea/*
*.lock
_trial_temp/*

# leave the venv stuff out
bin/*
include/*
lib/*
pyvenv.cfg
*.pyc

# don't track the data dir; it has keys and other site-specific info
data/*.json
data/*.sqlite
data/*.toml
data/*.pem
data/oci-config