## Don't run this file directly. It just sets environment variables.

export GRID_NODE_NAME=`hostname -s`
export GRID_HOST=localhost
export GRID_PORT=1883
# export GRID_TLS=y     # if you don't want TLS, don't export this

## Your username and password will be assigned to you by GridMii staff.
# export GRID_USERNAME=fihp
# export GRID_PASSWORD=hunter2

## By default, jobs will start in the user's home directory. Set GRID_JOB_CWD to override this.
# export GRID_JOB_CWD=/mnt/gridmii

## Specify the shell to run jobs with
## By default, /bin/sh is used.
# export GRID_SHELL=/bin/bash
## This option can also be used to relay jobs to a container or VM
# export GRID_JOB_SHELL=${PWD}/contain.sh    # sample container relay script